<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../fontawesome-free-6.2.1-web/css/all.css">
	<link rel="stylesheet" type="text/css" href="./Assets/Styles/main.css">
	<link rel="stylesheet" type="text/css" href="./Assets/Styles/util.css">
	<link rel="shortcut icon" href="./Assets/Images/square-plus-regular.png" type="image/x-icon">
	<title>Alfonsina Homebanking || Sign up</title>
</head>
<body>
	<div class="bg-back">
		<button onclick="history.back()" class="button-back">Go Back</button> 
	</div>
	<div class="limiter" id="app">
		<div class="container-login100">
			<div class="wrap-login100">
				<div class="login100-pic js-tilt" data-tilt>
					<img src="./Assets/Images/image-login.png" alt="IMG">
				</div>

				<form class="login100-form validate-form">
					<span class="login100-form-title">
						Sign up
					</span>

                    <div class="wrap-input100 validate-input" data-validate = "Name is required">
						<input class="input100" type="text" name="FirstName" placeholder="First Name" v-model="inputFirstName">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa-solid fa-user" aria-hidden="true"></i>
						</span>
					</div>

                    <div class="wrap-input100 validate-input" data-validate = "Valid Last Name is required">
						<input class="input100" type="text" name="LastName" placeholder="Last Name" v-model="inputLastName">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa-solid fa-user" aria-hidden="true"></i>
						</span>
					</div>

					<div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
						<input class="input100" type="email" name="email" placeholder="Email" v-model="inputEmail">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa-solid fa-envelope" aria-hidden="true"></i>
						</span>
					</div>

					<div class="wrap-input100 validate-input" data-validate = "Password is required">
						<input class="input100" type="password" name="pass" placeholder="Password" v-model="inputPassword">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-lock" aria-hidden="true"></i>
						</span>
					</div>
					
					<div class="container-login100-form-btn">
						<button class="login100-form-btn" @click.prevent="loadSignUp">
							Sign Up
						</button>
					</div>

				</form>
			</div>
		</div>
	</div>
	
	
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
	<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="./JavaScript/registration.js"></script>
</body>
</html>
